
.wrapper{
    border: solid 3px;
}
fieldset{
    border: none;
}
@media screen and (max-width: 720px){
    .wrapper{
        border-radius: 15px;
    }
    #main_header{
        font-size: 30px;
    }
    p, label, li{
        font-size: 18px;
    }
    h3{
        font-size: 25px;
    }
    .header>img{
        width: 100%;
    }
    .header{
        text-align: center;
    }
    ul, ol{
        list-style: none;
        padding: 0;
    }
    #confirm_btn{
        float: right;
    }
    #studNoIpt{
        width: 10em;
        margin: 1em 0 1em 0;
    }
    .file{
        margin-bottom: 1em;
        width: 100%;
        border-bottom: solid 2px;
    }
    .sep_under{
        display: grid;
        margin-bottom: 0.5em;
        background-color: rgb(210, 236, 247);
        padding: 3px;
        border-radius: 8px;
    }
    .banking-details{
        border: solid 2px;
        padding: 0 1em;
    }
    .prgInput{
        width: 100%;
    }
    .tblInputs{
        width: 98%;
        margin-bottom: 1em;
    }
    .office-list>li{
        margin-bottom: 0.5em;
    }
    .support-centres{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
    }
    .support-centres>div{
        background-image: linear-gradient(to bottom right, #b8d7f6 , #438dd6);
        padding: 5px;
        border-radius: 10px;
    }
    .secA{
        border: none;
        border-radius: 7px;
        border-bottom: solid 2px;
        opacity: 0.7;
        height: 2em;
    }
    .secA:focus{
        opacity: 1;
    }
    .file{
        margin: 1em 0 4em 0;
        padding: 5px;
    }
    #ethnicity, #gce{
        width: 99%;
    }
    .txtarea{
        border: none;
        border-radius: 7px;
        border-bottom: solid 2px;
        opacity: 0.7;
        width: 99%;
    }
    .fill{
        width: 99%;
    }
    h5{
        font-size: 14px;
    }
    h6{
        font-size: 13px;
    }
    
    i{
        font-size: 15px;
        margin: 1em 0;
    }
    .u-list{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    #confirm_btn{
        float: left;
    }
    #other{
        width: 100%;
    }
}
@media screen and (min-width: 720px) {
    body{
        padding: 1em;
    }
    .wrapper, header, footer{
        
    }
    
    .header{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: #0C4B88;
        color: whitesmoke;
        border-radius: 15px;
    }
    .u-list{
        list-style: none;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .file-list{
        list-style: none;
        padding: 0;
    }
    .file-list>li{
        margin-bottom: 10px;
    }
    /*Section A*/
    .personal-details, .address-details, .work-details{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 10px;
        grid-column-gap: 10vw;
    }
    .legislation-req{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .input{
        float: right;
    }
    /*Address Details*/
    .raise-lbl{
        vertical-align: top;
    }
    .disp-inline{
        display: inline;
    }
    .banking-details{
        border: solid 3px;
        display: inline-block;
        padding: 7px;
        list-style: circle;
    }
    .banking-details> ul{
        margin: 0;
        padding: 15px;
    }
    .signature{
        border: solid  1px;
        border-radius: 10px;
        padding: 5px;
        display: inline;
    }
    .office-list{
        list-style: none;
        padding: 0;
    }
    .office-list>li>input{
        margin-bottom: 1em;
    }
    footer{
        padding: 5px;
    }
    #comments{
        width: 99%;
    }
    .support-centres{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
    .secA{
        border: none;
        border-radius: 7px;
        border-bottom: solid 2px;
        opacity: 0.7;
        width: 15em;
    }
    .secA:focus{
        opacity: 1;
    }
    .txtarea{
        border: none;
        border-radius: 7px;
        border-bottom: solid 2px;
        opacity: 0.7;
        width: 25em;
    }
    .prgInput{
        border: none;
        border-radius: 7px;
        border-bottom: solid 2px;
        opacity: 0.7;
        width: 30em;
    }
    p{
        font-size: 18px;
    }
    h5{
        font-size: 18px;
    }
    h6{
        font-size: 16px;
    }    
    i{
        font-size: 15px;
        margin: 1em 0;
    }
}
.titleHeading{
    display:grid;
    align-items: center;
    justify-content: center;
}
.titleHeading>h1{
    margin-bottom: 0;
    font-size: 2.5em;
}
.wrapper{
    background-color: #b8d7f6;
    padding: 5px;

}
h2, h3{
    text-align: center;
    background-color: #0C4B88;
    color: whitesmoke;
    border-radius: 7px;
}
h5, h6{
    margin: 0;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 2px solid black;
    text-align: left;
}
th {
    background-color: #c4d8ff;
    height: 1cm;
}
td{    
    padding: 3px;
}
td > input{
    width: 24%;
    height: 1cm;
    font-size: small;
    border-radius: 7px;
}
.hide{
    display: none;
}
#submitdiv{
    text-align: center;
}
#submitbtn{
    margin: 1em;
    width: 5cm;
    height: 2.5em;
    border-radius: 15px;
    font-size: large;
    font-weight: 700;
    background-color: #0C4B88;
    color: whitesmoke;
}
#submitbtn:hover{
    background-color: whitesmoke;
    color: #0C4B88;
}

